@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-green{
  background-color: green !important;
}
.bg-gradient {
    background: linear-gradient( -45deg, rgb(243, 63, 153), #bd2672, #96068e, #6e0660);
}

.note{
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding-top: 4px;
    border-radius: 3px;
}

.note_0 {
    background-color: rgba(225, 0, 255, 0.815);
    color: azure;
}

.note_1 {
    background-color: rgb(0, 238, 255);
    color: black;
}

.note_2 {
    background-color: rgb(0, 255, 179);
    color: black;
}

.note_3 {
    background-color: rgb(0, 255, 115);
    color: black;
}

.note_4 {
    background-color: rgb(0, 255, 34);
    color: black;
}

.note_5 {
    background-color: rgb(36, 156, 0);
    color: azure;
}

.note_6 {
    background-color: rgb(157, 255, 0);
    color: black;
}

.note_7 {
    background-color: rgb(255, 251, 0);
    color: black;
}

.note_8 {
    background-color: rgb(255, 174, 0);
    color: azure;
}

.note_9 {
    background-color: rgb(255, 115, 0);
    color: azure;
}

.note_10 {
    background-color: rgb(255, 60, 0);
    color: azure;
}

.note_11 {
    background-color: rgb(255, 0, 119);
    color: azure;
}

.note_12 {
    background-color: rgb(255, 0, 0);
    color: azure;
}

.top-banner {
    position: static;
    width: 100%;
    height: 80px;
}
.header-background{
    width: 100%;
    height: 60px;
}
.header-title{
    font-size: 50px;
    text-align: center;
    margin: -10px 0px 0px 0px;
    padding: -10px;
}

.logo {
    margin-top: -50px;
    margin-left: 5px; 
    width: 40px;
    height: 40px;
    
}
.bottom-banner{
  position: fixed;
  width: 100%;
  height: auto;
}
.levels-title {
    font-size: 80px;
    margin-top: -35px;
    text-align: center;
    color: white;
    text-shadow: 7px 7px rgb(33, 31, 31);
}

.level-design {
    border: 1px solid black;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 1rem 0.5rem 2rem 5rem;
    font-size: 50px;
}

.next-levels {
    width: 80px;
    height: auto;
    float: right;
    margin-top: -15.5rem;
}




/*@media only screen and (min-width: 320px) and (max-width: 480px){




}
*/