@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gradient {
    background: linear-gradient( -45deg, rgb(243, 63, 153), #bd2672, #96068e, #6e0660);
}

.note{
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding-top: 4px;
    border-radius: 3px;
}

.note_0 {
    background-color: rgba(225, 0, 255, 0.815);
    color: azure;
}

.note_1 {
    background-color: rgb(0, 238, 255);
    color: black;
}

.note_2 {
    background-color: rgb(0, 255, 179);
    color: black;
}

.note_3 {
    background-color: rgb(0, 255, 115);
    color: black;
}

.note_4 {
    background-color: rgb(0, 255, 34);
    color: black;
}

.note_5 {
    background-color: rgb(36, 156, 0);
    color: azure;
}

.note_6 {
    background-color: rgb(157, 255, 0);
    color: black;
}

.note_7 {
    background-color: rgb(255, 251, 0);
    color: black;
}

.note_8 {
    background-color: rgb(255, 174, 0);
    color: azure;
}

.note_9 {
    background-color: rgb(255, 115, 0);
    color: azure;
}

.note_10 {
    background-color: rgb(255, 60, 0);
    color: azure;
}

.note_11 {
    background-color: rgb(255, 0, 119);
    color: azure;
}

.note_12 {
    background-color: rgb(255, 0, 0);
    color: azure;
}

.top-banner {
    position: static;
    width: 100%;
    height: 60px;
    background-color: gray;
}

.logo {
    position: static;
    width: 40px;
    height: 40px;
    margin-top: -5px;
}

.levels-position-bg {
    background-color: rgb(255, 255, 255);
    position: static;
}
.level {
    background-color: #e61313;
    position: relative;
    border: 1px solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    font-size: 50px;
    box-shadow: 9px 8px #0e0d0d;
}

.play-button {
    margin: 1rem 0 3rem 0;
    font-size: 50px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    background: linear-gradient( -45deg, rgb(243, 63, 153), #bd2672, #96068e, #6e0660);
    box-shadow: 9px 8px #0e0d0d;
}
.play-button-position{
    text-align: center;
}



.next-levels {
    width: 100px;
    height: auto;
    transform: rotate(180deg);
    float: right;
    margin-top: -18.5rem;
}



.levels-title {
    font-size: 100px;
    text-align: center;
    color: white;
    text-shadow: 7px 7px rgb(33, 31, 31);
}

.hide {
    font-size: 58px;
    text-align: center;
    opacity: 0%;
}
