@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-green{
  background-color: green !important;
}
.bg-gradient {
    background: linear-gradient( -45deg, rgb(243, 63, 153), #bd2672, #96068e, #6e0660);
}

.note{
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding-top: 4px;
    border-radius: 3px;
}

.note_0 {
    background-color: rgba(225, 0, 255, 0.815);
    color: azure;
}

.note_1 {
    background-color: rgb(0, 238, 255);
    color: black;
}

.note_2 {
    background-color: rgb(0, 255, 179);
    color: black;
}

.note_3 {
    background-color: rgb(0, 255, 115);
    color: black;
}

.note_4 {
    background-color: rgb(0, 255, 34);
    color: black;
}

.note_5 {
    background-color: rgb(36, 156, 0);
    color: azure;
}

.note_6 {
    background-color: rgb(157, 255, 0);
    color: black;
}

.note_7 {
    background-color: rgb(255, 251, 0);
    color: black;
}

.note_8 {
    background-color: rgb(255, 174, 0);
    color: azure;
}

.note_9 {
    background-color: rgb(255, 115, 0);
    color: azure;
}

.note_10 {
    background-color: rgb(255, 60, 0);
    color: azure;
}

.note_11 {
    background-color: rgb(255, 0, 119);
    color: azure;
}

.note_12 {
    background-color: rgb(255, 0, 0);
    color: azure;
}

.top-banner {
    position: static;
    width: 100%;
    height: 80px;
}
.header-background{
    width: 100%;
    height: 60px;
}
.header-title{
    font-size: 50px;
    text-align: center;
    margin: -10px 0px 0px 0px;
    padding: -10px;
}

.logo {
    margin-top: -50px;
    margin-left: 5px; 
    width: 40px;
    height: 40px;
    
}
.bottom-banner{
  position: fixed;
  width: 100%;
  height: auto;
}
.levels-title {
    font-size: 80px;
    margin-top: -35px;
    text-align: center;
    color: white;
    text-shadow: 7px 7px rgb(33, 31, 31);
}

.level-design {
    border: 1px solid black;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 1rem 0.5rem 3rem 5rem;
}
.next-levels {
    width: 80px;
    height: auto;
    float: right;
    margin-top: -17.5rem;
}
@media only screen and (min-width: 280px) and (max-width: 319px){

    .level-design {
        border: 1px solid black;
        position: relative;
        width: 120px;
        height: 120px;
        margin: 0.1rem 0.2rem 0rem 0rem;

    }
    .next-levels{
        display: none;
    }
    .center-screen-on-devices{
        text-align: center;
    }
    }
@media only screen and (min-width: 320px) and (max-width: 480px){

.level-design {
    border: 1px solid black;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0.1rem 0.5rem 0rem 1rem;

}
.next-levels{
    display: none;
}
.bottom-banner{
    height: 12%;
}
.center-screen-on-devices{
    text-align: center;
}
}
@media only screen and (min-width: 481px) and (max-width: 768px){
    .level-design {
        border: 1px solid black;
        position: relative;
        width: 150px;
        height: 150px;
        margin: 3rem 1.2rem 2.5rem 1.2rem;

    }
    .next-levels{
        display: none;
    }
    .bottom-banner{
        height: 15%;
    }
    .center-screen-on-devices{
        text-align: center;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .level-design {
        border: 1px solid black;
        position: relative;
        width: 150px;
        height: 150px;
        margin: 2rem 1rem 1em 1rem;

    }
    .next-levels {
        width: 80px;
        height: auto;
        float: right;
        margin-top: -14.5rem;
    }
    .center-screen-on-devices{
        text-align: center;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1500px){
    .level-design {
        border: 1px solid black;
        position: relative;
        width: 200px;
        height: 200px;
        margin: 1rem 1rem 3rem 3rem;

    }
    .next-levels {
        width: 80px;
        height: auto;
        float: right;
        margin-top: -19.5rem;
    }
    .center-screen-on-devices{
        text-align: center;
    }

}
@media only screen and (min-width: 2000px){
    .top-banner {
        position: static;
        width: 100%;
        height: 90px;
    }
    .header-background{
        width: 100%;
        height: 120px;
    }
    .logo {
        margin-top: -100px;
        margin-left: 5px; 
        width: 70px;
        height: 70px;
        
    }

    .levels-title {
        font-size: 150px;
        margin-top: 35px;
        text-align: center;
        color: white;
        text-shadow: 14px 14px rgb(33, 31, 31);
    }
    
    .level-design {
        border: 1px solid black;
        position: relative;
        width: 300px;
        height: 300px;
        margin: 1rem 1rem 5rem 8rem;
    }
    .next-levels {
        width: 250px;
        height: auto;
        float: right;
        margin-top: -35.5rem;
    }
}
