@tailwind base;
@tailwind components;
@tailwind utilities;
.rgb-background {
    background: linear-gradient( -45deg, rgb(243, 63, 153), #bd2672, #96068e, #6e0660);
}

.note_0 {
    background-color: rgba(225, 0, 255, 0.815);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: azure;
    padding-top: 4px;
    border-radius: 3px;
}

.note_1 {
    background-color: rgb(0, 238, 255);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
    padding-top: 4px;
    border-radius: 3px;
}

.note_2 {
    background-color: rgb(0, 255, 179);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
    padding-top: 4px;
    border-radius: 3px;
}

.note_3 {
    background-color: rgb(0, 255, 115);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
    padding-top: 4px;
    border-radius: 3px;
}

.note_4 {
    background-color: rgb(0, 255, 34);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
    padding-top: 4px;
    border-radius: 3px;
}

.note_5 {
    background-color: rgb(36, 156, 0);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: azure;
    padding-top: 4px;
    border-radius: 3px;
}

.note_6 {
    background-color: rgb(157, 255, 0);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
    padding-top: 4px;
    border-radius: 3px;
}

.note_7 {
    background-color: rgb(255, 251, 0);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
    padding-top: 4px;
    border-radius: 3px;
}

.note_8 {
    background-color: rgb(255, 174, 0);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: azure;
    padding-top: 4px;
    border-radius: 3px;
}

.note_9 {
    background-color: rgb(255, 115, 0);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: azure;
    padding-top: 4px;
    border-radius: 3px;
}

.note_10 {
    background-color: rgb(255, 60, 0);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: azure;
    padding-top: 4px;
    border-radius: 3px;
}

.note_11 {
    background-color: rgb(255, 0, 119);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: azure;
    padding-top: 4px;
    border-radius: 3px;
}

.note_12 {
    background-color: rgb(255, 0, 0);
    height: 36px;
    width: 36px;
    position: absolute;
    display: none;
    bottom: -4px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: azure;
    padding-top: 4px;
    border-radius: 3px;
}

.topbanner {
    position: static;
    width: 100%;
    height: 80px;
    background-color: gray;
}

.logo {
    position: static;
    width: 60px;
    height: 60px;
}

.whiteBorder {
    background-color: white;
    position: static;
    margin-top: 2rem;
}

.lvl {
    position: relative;
    border: 1px solid black;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 110px;
    margin-top: 8rem;
    font-size: 50px;
}

.play {
    font-size: 50px;
    border: 1px solid red;
    background-color: red;
}

.playPosition {
    text-align: center;
    padding-bottom: 20px;
}

.arrow {
    width: 100px;
    height: auto;
    transform: rotate(180deg);
}

.arrowPosition {
    float: right;
    margin-top: -18.5rem;
}

.lvlh1 {
    font-size: 100px;
    text-align: center;
    color: white;
}

.hide {
    font-size: 94px;
    text-align: center;
    opacity: 0%;
}